extends layout

block content
  h1 #{title} of doom
  
  form(method='POST', action='/books/add')
    #form-group
      label Title: 
      input.form-control(name='title', type='text')
    #form-group
      label Author: 
      input.form-control(name='author', type='text')
    #form-group
      label Applicable Bingo Squares (select all that apply):
      br
      select.bingosquareselect(name='bingosquareselect', multiple='')
        each bingoSquare, i in bingoSquares
          option(value=bingoSquare.id) #{bingoSquare.name} 
        br
    br
    input.btn.btn-primary(type="submit", value="submit")
