extends layout

block content
  h1 #{title}
  
  p To complete Book Bingo, read a book from each of the following categories. List items in green are categories you've read books for already! But you can always change or move them around.

  ul.list-group
    each bingoSquare, i in bingoSquareData
      if bingoSquare.selectedBook == true
        li.list-group-item.list-group-item-success
          a(href='/bingosquares/' + bingoSquare.bingoSquare._id)= bingoSquare.bingoSquare.name
      else
        li.list-group-item
          a(href='/bingosquares/' + bingoSquare.bingoSquare._id)= bingoSquare.bingoSquare.name
