extends layout

block content
  h1 #{title} of doom
  
  form(method='POST', action='/books/edit/' + book._id)
    #form-group
      label Title: 
      input.form-control(name='title', type='text', value=book.title)
    #form-group
      label Author: 
      input.form-control(name='author', type='text', value=book.author)
    #form-group
      label Description:  
      textarea.form-control(name='description')= book.description
    br
    input.btn.btn-primary(type="submit", value="submit")
