extends layout

block content
  h1 #{title}
  
  p Below is the current bingo square! Please log in to start tracking your own!

  ul.list-group
    each bingoSquare, i in bingoSquares
      li.list-group-item
        a(href='/bingosquares/' + bingoSquare._id)= bingoSquare.name
